.team-section {
background-color: #f4f4fd;
}

.team-list {

}

.team-list-element {
background-color: #fff;
}

.team-list-member-headline {
text-align: center;
}

.team-list-member-description {
text-align: center;
}